#body {
    font-family: 'Times New Roman';
    background-color:rgb(238, 236, 236); 
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}


#image_box {

    height: 100%;
    display: flex;
} 

#page_image {
    height: 100vh;
    width: 33vw;
}


#login_section {
    margin-left: 5vw; 
    justify-content: center;
    align-items: center;
    margin-top: clamp(10px, 20.81vh , 180px);
    height: 50vh;
    width: 50vw;
}


#administration_txt {
    font-weight: bold;
    font-size: 3vw; 
    margin-bottom: 2px; 
}


#login_txt {
    color: rgb(46, 46, 46); 
    font-size: clamp(10px, 1vw, 15px); 
    margin-bottom: 10px;
}


#username_label {
    margin-bottom: 0px; 
    color: rgb(46, 46, 46); 
    font-size: clamp(10px, 1vw, 15px); 
    display: block;
}


#username {
    display: block;
    margin-bottom: 10px; 
    height: 2.5vw;  
    padding-left: 8px; 
    color:rgb(46, 46, 46);  
    border-width: 2px; 
    border-style: solid;     
    border-radius: 3px; 
    border-color: black; 
    width: 29vw; 
    font-size: clamp(12px, 1vw, 15px); 
    background-color: #eefafa;
}


#password {
    display: block;
    margin-bottom: 10px; 
    height: 2.5vw; 
    padding-left: 8px; 
    color:rgb(46, 46, 46);  
    border-width: 2px; 
    border-style: solid; 
    border-radius: 3px; 
    border-color: black; 
    width: 29vw;
    font-size: clamp(10px, 1vw, 15px); 
    background-color: #eefafa;
}


#password_label {
    display: block;
    margin-bottom: 0px; 
    color: rgb(46, 46, 46); 
    font-size: clamp(10px,1vw, 15px); 
}


#language_selection_label {
    display: block;
    margin-bottom: 0px; 
    color: rgb(46, 46, 46); 
    font-size: clamp(10px, 1vw, 15px); 
}


#language_selection_box {
    display: block;
    margin-bottom: 10px; 
    height: clamp(17px, 2.3vw, 31px); 
    padding-left: 8px; 
    color: rgb(95, 95, 95);  
    border-width: 0.5px; 
    border-style: solid; 
    border-radius: 3px; 
    border-color: black; 
    width: clamp(159px, 30vw, 410px);
    font-size: clamp(12px, 1vw, 15px); 
    background-color: white;
}


#login_button {
    display: block;
    margin-bottom: 0px; 
    padding-right: 10px; 
    height: clamp(20px, 2.2vw, 30px); 
    border: none; 
    border-radius: 3px; 
    margin-bottom: 20px; 
    color: white; 
    background-color: rgb(42, 42, 148); 
    font-size: clamp(10px, 1vw, 15px); 
    cursor: pointer;
}


#forgot_password_label {
    color: rgb(46, 46, 46); 
    font-size: clamp(10px, 1vw, 15px); 
    margin-top: 0px;
    cursor: pointer;
    transition: text-decoration 0.15s;
}


#forgot_password_label:hover {
    text-decoration: underline;
}



@media only screen and (max-width: 600px), only screen and (max-height: 550px){
    body{
    font-family: 'Times New Roman';
    background-color:rgb(238, 236, 236); 
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;  
    }

    #image_box{
        width: 100%;
        display: block;
    }

    #page_image{
        width: 100vw;
        height: 70vh;
        align-items: center;
        justify-content: center;
        clear: both;
        display: block;
        margin-bottom: 0px;
    }

    #login_section{
    margin-left: 10vw; 
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    width: 80vw;
    height: 50vw;
    display: block;
    }

    #administration_txt {
        margin-top: 0;
        font-weight: bold;
        font-size: 6vw; 
        margin-bottom: 2px; 
    }

    #login_txt {
        color: rgb(46, 46, 46); 
        font-size: clamp(12px, 1vw, 15px); 
        margin-bottom: 7px;
    }

    #username_label {
        margin-bottom: 0px; 
        color: rgb(46, 46, 46); 
        font-size: clamp(12px, 1vw, 15px); 
        display: block;
    }

    #username {
        display: block;
        margin-bottom: 7px; 
        padding-left: 8px; 
        color:rgb(46, 46, 46);  
        border-width: 2px; 
        border-style: solid;     
        border-radius: 3px; 
        border-color: black;
        height: 6.5vw;   
        width: 80vw; 
        font-size: clamp(12px, 3vw, 25px); 
        background-color: #eefafa;
    }

    #password_label {
        display: block;
        margin-bottom: 0px; 
        color: rgb(46, 46, 46); 
        font-size: clamp(12px,1vw, 15px); 
    }

    #password {
        display: block;
        margin-bottom: 7px; 
        padding-left: 8px; 
        color:rgb(46, 46, 46);  
        border-width: 2px; 
        border-style: solid; 
        border-radius: 3px; 
        border-color: black; 
        height: 6.5vw;   
        width: 80vw; 
        font-size: clamp(12px, 3vw, 25px); 
        background-color: #eefafa;
    }

    #language_selection_label {
        display: block;
        margin-bottom: 0px; 
        color: rgb(46, 46, 46); 
        font-size: clamp(12px, 1vw, 15px); 
    }

    #language_selection_box {
        display: block;
        margin-bottom: 12px; 
        height: 5.5vh; 
        padding-left: 8px; 
        color: rgb(95, 95, 95);  
        border-width: 0.5px; 
        border-style: solid; 
        border-radius: 3px; 
        border-color: black; 
        width: 83vw;
        font-size: clamp(12px, 1vw, 15px); 
        background-color: white;
    }

    #login_button {
        display: block;
        margin-bottom: 0px; 
        padding-right: 10px; 
        height: clamp(20px, 5.2vh, 40px); 
        border: none; 
        border-radius: 3px; 
        margin-bottom: 7px; 
        color: white; 
        background-color: rgb(42, 42, 148); 
        font-size: clamp(12px, 1vw, 15px); 
        cursor: pointer;
    }


    #forgot_password_label {
        color: rgb(46, 46, 46); 
        font-size: clamp(12px, 1vw, 15px); 
        margin-top: 0px;
        cursor: pointer;
        transition: text-decoration 0.15s;
        }


    #forgot_password_label:hover {
        text-decoration: underline;
    }

}
