#body {
    font-family: times new roman;
}


#page_image {
    height: 610px;
    width: 450px;
    
}


#div_image {
    background-color: rgb(238, 236, 236); 
    width: 1370px; 
    height: 610px;
    float: left;
}


#login_section {
    float: right;
    margin-right: 450px;


     margin-top: 140px;
}


#admin_txt {
    font-weight: bold;
    font-size: 40px; 
    margin-bottom: 2px; 
}


#log_txt {
    color: rgb(46, 46, 46); 
    font-size: 13px; 
    margin-bottom: 10px;
}


#lab_username {
    margin-bottom: 0px; 
    color: rgb(46, 46, 46); 
    font-size: 13px;
}


#username {
    margin-bottom: 10px; 
    height: 40px; 
    padding-left: 8px; 
    color:rgb(46, 46, 46);  
    border-width: 2px; 
    border-style: solid; 
    border-radius: 3px; 
    border-color: black; 
    width: 390px; 
    background-color: #eefafa;
}


#password {
    margin-bottom: 10px; 
    height: 40px; 
    padding-left: 8px; 
    color:rgb(46, 46, 46);  
    border-width: 2px; 
    border-style: solid; 
    border-radius: 3px; 
    border-color: black; 
    width: 390px; 
    background-color: #eefafa;
}

#lab_password {
    margin-bottom: 0px; 
    color: rgb(46, 46, 46); 
    font-size: 13px;
}


#lab_select {
    margin-bottom: 0px; 
    color: rgb(46, 46, 46); 
    font-size: 13px;
}


#log_select {
    margin-bottom: 10px; 
    height:30px; 
    font-size: 13px; 
    padding-left: 8px; 
    color: rgb(95, 95, 95);  
    border-width: 0.5px; 
    border-style: solid; 
    border-radius: 3px; 
    border-color: black; 
    width: 390px; 
    background-color: white;
}


#log_button {
    margin-bottom: 0px; 
    padding-right: 10px; 
    height:30px; 
    border: none; 
    border-radius: 3px; 
    margin-bottom: 20px; 
    color: white; 
    background-color: rgb(42, 42, 148); 
    font-size: 13px;
}


#lab_forgot_pass {
    color: rgb(46, 46, 46); 
    font-size: 13px; 
    margin-top: 0px;
    cursor: pointer;
    transition: text-decoration 0.15s;
    }


#lab_forgot_pass:hover {
    text-decoration: underline;
}
